<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body ng-app="demo" ng-controller="DemoCtrl">
        <h1 th:inline="text">{{title}} [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
        <script type="text/javascript" src="./dist/js/scripts-dep.js"></script>
        <script type="text/javascript" src="./dist/js/scripts.js"></script>
    </body>
</html>